<h1>All Users</h1>

<ul id="Users">
  <% @users.each do |user| %>
    <ui class = "list">
      <br>
    </br>
      <%= user.username %>
      <div class = userlist>
<br> </br>
      <%= user.lists.each do |title, entry1, entry2, entry3| %>
    </div>
  </ui>
  <% end %>
<% end %>
</ul>
<button> <%= link_to "Create a New User", new_user_path, class: "new_user" %> </button>
