<div id = 'user page'>

<h1 class = 'user homepage'>Welcome <%= @user.username %>! </h1>
<p>
  <h3> User List</h3>
<%= render partial: 'users/list', collection: @user.list %>
<%= render partial: 'list/form' %>

</p>
